Repository dtg01100/pure3270: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, radon-complexity, cohesion-analysis, code-analyzer

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '(tests/data/traces/.*|test_output/.*)'
      - id: end-of-file-fixer
        exclude: '(tests/data/traces/.*|test_output/.*)'
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        name: black (auto-format)
        args: [--line-length=88]
        exclude: 'tests/data/traces/.*'
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (auto-format)
        args: [--profile=black]
        exclude: 'tests/data/traces/.*'
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        exclude: 'tests/data/traces/.*'
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        args: [--config-file=mypy.ini, --ignore-missing-imports]
        files: '^(pure3270/|tests/|setup.py|pyproject.toml)'
        exclude: '^(archive/|tools/|scripts/|tests/data/traces/|examples/)'
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.1
    hooks:
      - id: bandit
        args: [-c, .bandit, --quiet]
        exclude: 'tests/data/traces/.*'
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [--exit-zero, pure3270/]
        exclude: 'tests/data/traces/.*'
      - id: radon-complexity
        name: radon complexity check
        entry: radon
        language: system
        types: [python]
        args: [cc, --show-complexity, --total-average]
        files: 'pure3270/.*\.py$'
        exclude: 'tests/data/traces/.*'
      - id: cohesion-analysis
        name: cohesion analysis
        entry: python
        language: system
        types: [python]
        args: [-m, cohesion, -d, pure3270]
        pass_filenames: false
      - id: code-analyzer
        name: code quality analysis
        entry: python
        language: system
        types: [python]
        args: [tools/code_analyzer.py, --duplication-only]
        pass_filenames: false

fix: set tn3270_mode when TN3270E negotiation succeeds
  pure3270/protocol/negotiator.py
  tests/integration/test_hercules.py
  tests/test_aid_support.py
  tests/test_api_exports.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix: track and cleanup pending async tasks to prevent memory leaks
  mock_server/tn3270_mock_server.py
  pure3270/protocol/printer_status_reporter.py
  pure3270/protocol/tn3270_handler.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

chore: Update build config and add CLI entry point
  .gitignore
  pure3270/__main__.py
  pyproject.toml
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix: Clean up emulation layer and IND
  pure3270/emulation/addressing.py
  pure3270/emulation/field_attributes.py
  pure3270/emulation/screen_buffer.py
  pure3270/ind_file.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix: Improve protocol negotiation and session management
  pure3270/protocol/negotiator.py
  pure3270/protocol/printer_error_handler.py
  pure3270/protocol/tn3270_handler.py
  pure3270/protocol/tn3270e_header.py
  pure3270/session.py
  pure3270/session_manager.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

feat: Add Hercules MVS integration with docker-compose
  docker-compose.yml
  mock_server/tn3270_mock_server.py
  pure3270/async_helpers.py
  tests/integration/README.md
  tests/integration/test_hercules.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix: Correct RFC 2355 function bit constants for Responses and SYSREQ
  pure3270/protocol/printer.py
  pure3270/protocol/utils.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

test: Add RFC compliance tests and reliability validation suites
  tests/data/screens/ft-crash.screen.bin
  tests/data/screens/ft_dft.screen.bin
  tests/data/screens/ibmlink.screen.bin
  tests/data/screens/login.screen.bin
  tests/data/screens/pub400_golden.bin
  tests/test_reliability_validation.py
  tests/test_rfc1091_terminal_type.py
  tests/test_rfc1572_new_environ.py
  tests/test_screen_golden_comparison.py
  tests/test_screen_validation.py
Due: pylint, cohesion-analysis, code-analyzer

fix: Update test assertions to match corrected RFC 2355 function bits
  tests/test_printer.py
  tests/test_rfc2355_functions.py
Due: pylint, cohesion-analysis, code-analyzer

feat: Add comprehensive validation infrastructure
  mypy.ini
  pure3270/validate_suite/__init__.py
  pure3270/validate_suite/__pycache__/__init__.cpython-314.pyc
  pure3270/validate_suite/__pycache__/conftest.cpython-314-pytest-9.0.3.pyc
  pure3270/validate_suite/__pycache__/test_rfc2355.cpython-314-pytest-9.0.3.pyc
  pure3270/validate_suite/__pycache__/test_rfc854.cpython-314-pytest-9.0.3.pyc
  pure3270/validate_suite/conftest.py
  pure3270/validate_suite/test_rfc2355.py
  pure3270/validate_suite/test_rfc854.py
  tests/test_bind_unbind_lifecycle.py
  tests/test_feature_matrix.py
  tests/test_tn3270e_data_types.py
  validate_all.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

chore: Remove __pycache__ from validate_suite
  pure3270/validate_suite/__pycache__/__init__.cpython-314.pyc
  pure3270/validate_suite/__pycache__/conftest.cpython-314-pytest-9.0.3.pyc
  pure3270/validate_suite/__pycache__/test_rfc2355.cpython-314-pytest-9.0.3.pyc
  pure3270/validate_suite/__pycache__/test_rfc854.cpython-314-pytest-9.0.3.pyc
Due: none

fix: Resolve CI import errors in test files
  tests/test_3270_data_payload.py
  tests/test_3270_extended_payload.py
  tests/test_drop_in_replacement_test.py
Due: pylint, cohesion-analysis, code-analyzer

fix: Resolve CI import errors across all Python versions
  tests/conftest.py
  tests/test_drop_in_replacement_test.py
Due: pylint, cohesion-analysis, code-analyzer

fix: Lazy import drop_in_replacement_test to fix CI collection
  tests/test_drop_in_replacement_test.py
Due: pylint, cohesion-analysis, code-analyzer

ci: Exclude hercules-marked tests from CI unit runs
  .github/workflows/ci.yml
Due: none

fix: Use pytest.importorskip for drop_in_replacement_test
  tests/test_drop_in_replacement_test.py
Due: pylint, cohesion-analysis, code-analyzer

chore: add .worktrees to .gitignore
  .gitignore
Due: none

docs: Add TestSession docstring explaining sync test rationale
  tests/test_session.py
  tests/test_type_safety_audit.py
Due: pylint, cohesion-analysis, code-analyzer

fix: NegotiationError inherits from ProtocolError
  pure3270/exceptions.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix: Strip trailing newlines from golden screen files
  tests/data/screens/ft-crash.screen.bin
  tests/data/screens/ft_dft.screen.bin
  tests/data/screens/login.screen.bin
  tests/data/screens/pub400_golden.bin
Due: none

test: Mark hercules tests with @pytest.mark.integration
  tests/integration/test_hercules.py
Due: pylint, cohesion-analysis, code-analyzer

test: Add spec arguments to bare MagicMock instances
  tests/test_cli.py
  tests/test_error_handling_coverage.py
  tests/test_protocol.py
  tests/test_ssl_wrapper.py
  tests/test_tn3270_handler.py
Due: pylint, cohesion-analysis, code-analyzer

feat(validation): add package skeleton and report model
  pure3270/validation/__init__.py
  pure3270/validation/report.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

feat(validation): add RFC compliance matrix YAML files
  pure3270/validation/matrix/rfc1091.yaml
  pure3270/validation/matrix/rfc1576.yaml
  pure3270/validation/matrix/rfc2355.yaml
  pure3270/validation/matrix/rfc854.yaml
Due: none

feat(validation): add RFC matrix checker and reporter
  .pre-commit-config.yaml
  pure3270/validation/matrix/__init__.py
  pure3270/validation/matrix/checker.py
  pure3270/validation/matrix/reporter.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

feat(validation): move validate_suite tests into matrix, add deprecation notice
  pure3270/validate_suite/__init__.py
  pure3270/validation/matrix/checker.py
  pure3270/validation/matrix/conftest.py
  pure3270/validation/matrix/reporter.py
  pure3270/validation/matrix/test_rfc2355.py
  pure3270/validation/matrix/test_rfc854.py
  validate_all.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix(validation): remove duplicated validate_suite tests, remove old validate_all entry
  pure3270/validate_suite/conftest.py
  pure3270/validate_suite/test_rfc2355.py
  pure3270/validate_suite/test_rfc854.py
  validate_all.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

feat(validation): add CLI entry point with matrix command
  mypy.ini
  pure3270/validation/__main__.py
  pure3270/validation/conftest.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix(validation): remove unused variable in CLI main
  pure3270/validation/__main__.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

feat(validation): add wire-level test vectors
  pure3270/validation/wire/vectors/data_stream.yaml
  pure3270/validation/wire/vectors/error_handling.yaml
  pure3270/validation/wire/vectors/telnet_negotiation.yaml
  pure3270/validation/wire/vectors/tn3270e.yaml
Due: none

feat(validation): add wire vector runner and pytest adapter
  pure3270/validation/__main__.py
  pure3270/validation/wire/__init__.py
  pure3270/validation/wire/runner.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix(validation): align wire vectors with actual handler behavior (3 fixes)
  pure3270/validation/wire/vectors/telnet_negotiation.yaml
  pure3270/validation/wire/vectors/tn3270e.yaml
Due: none

feat(validation): add acceptance scenario DSL
  pure3270/validation/acceptance/__init__.py
  pure3270/validation/acceptance/scenarios.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

feat(validation): add acceptance scenario runner and pytest adapter
  mypy.ini
  pure3270/validation/__main__.py
  pure3270/validation/acceptance/runner.py
  pure3270/validation/acceptance/test_scenarios.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix(validation): rename fuzz result variable to avoid shadowing
  AGENTS.md
  pure3270/validation/__main__.py
  pure3270/validation/fuzz/__init__.py
  validate_all.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix(validation): use vars() for HandlerState members (Python 3.14 compat)
  pure3270/validation/fuzz/test_state_machine.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix(validation): fix acceptance scenarios - keepalive, handler state, fallback server
  mock_server/tn3270_mock_server.py
  pure3270/validation/acceptance/runner.py
  pure3270/validation/acceptance/scenarios.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

feat(validation): increase RFC matrix coverage from 16/35 to 25/35
  pure3270/protocol/utils.py
  pure3270/validation/matrix/checker.py
  pure3270/validation/matrix/reporter.py
  pure3270/validation/matrix/rfc1091.yaml
  pure3270/validation/matrix/rfc1576.yaml
  pure3270/validation/matrix/rfc2355.yaml
  pure3270/validation/matrix/test_rfc1091.py
  pure3270/validation/matrix/test_rfc1576.py
  pure3270/validation/matrix/test_rfc2355.py
  pure3270/validation/report.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

feat(validation): complete RFC matrix coverage to 35/35 (100%)
  pure3270/validation/matrix/rfc1091.yaml
  pure3270/validation/matrix/rfc854.yaml
  pure3270/validation/matrix/test_rfc1091.py
  pure3270/validation/matrix/test_rfc854.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

chore: import cleanup, binary screen data updates
  docs/superpowers/plans/2026-05-19-test-suite-sync-async-cleanup.md
  docs/superpowers/plans/2026-05-19-validation-suite.md
  docs/superpowers/specs/2026-05-19-test-suite-sync-async-cleanup.md
  docs/superpowers/specs/2026-05-19-validation-suite-design.md
  tests/data/screens/ft-crash.screen.bin
  tests/data/screens/ft_dft.screen.bin
  tests/data/screens/login.screen.bin
  tests/data/screens/pub400_golden.bin
  tests/test_error_handling_coverage.py
  tests/test_type_safety_audit.py
Due: pylint, cohesion-analysis, code-analyzer
