Repository dtg01100/pure3270: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, radon-complexity, cohesion-analysis, code-analyzer

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --exit-zero
  - pure3270/

radon-complexity:
  name: radon complexity check
  entry: radon
  language: system
  args:
  - cc
  - --show-complexity
  - --total-average

cohesion-analysis:
  name: cohesion analysis
  entry: python
  language: system
  args:
  - -m
  - cohesion
  - -d
  - pure3270
  pass_filenames: false

code-analyzer:
  name: code quality analysis
  entry: python
  language: system
  args:
  - tools/code_analyzer.py
  - --duplication-only
  pass_filenames: false

fix: remove parallel pytest execution to fix import issues
  .github/workflows/ci.yml
Due: none

fix: add --import-mode=importlib and PYTHONPATH=. to pytest to resolve import issues in CI
  .github/workflows/ci.yml
Due: none

fix: remove pytest-xdist, set PYTHONPATH=.., remove --import-mode=importlib
  .github/workflows/ci.yml
Due: none

fix: run pytest from parent directory
  .github/workflows/ci.yml
Due: none

fix: install package normally instead of editable
  .github/workflows/ci.yml
Due: none

fix: add test dependencies to CI tools install
  .github/workflows/ci.yml
Due: none

fix: don't install package, set PYTHONPATH to source dir
  .github/workflows/ci.yml
Due: none

fix: use python -m pytest to ensure PYTHONPATH is used
  .github/workflows/ci.yml
Due: none

fix: set PYTHONPATH to /home/runner/work/pure3270 and run from source dir
  .github/workflows/ci.yml
Due: none

fix: set PYTHONPATH via env and run pytest from package tests
  .github/workflows/ci.yml
Due: none

fix: install test extras during CI dependencies step
  .github/workflows/ci.yml
Due: none

fix: run pytest from repo root 'tests/' and set PYTHONPATH to workspace
  .github/workflows/ci.yml
Due: none

ci: simplified debug step avoiding heredoc to avoid YAML pitfalls
  .github/workflows/ci.yml
Due: none

fix: set PYTHONPATH to parent workspace directory to avoid package name shadowing
  .github/workflows/ci.yml
Due: none

fix: set PYTHONPATH to parent repo using cd and run pytest from parent dir to avoid import shadowing
  .github/workflows/ci.yml
Due: none

fix: run pytest from repo root with empty PYTHONPATH to prefer installed package
  .github/workflows/ci.yml
Due: none

chore: fix security/tooling warnings and formatting
  pure3270/emulation/ebcdic.py
  pure3270/protocol/negotiator.py
  pure3270/protocol/tn3270_handler.py
  pure3270/trace/replayer.py
  tests/mocks/factory.py
  tests/test_negotiation_dumps.py
  tests/test_negotiation_events.py
  tests/test_negotiation_flag_sync.py
  tests/test_negotiation_modes.py
  tests/test_protocol.py
  tests/test_race_conditions.py
  tests/test_race_conditions_improved.py
  tests/test_session.py
  tests/test_tn3270_handler.py
  todolist.md
  tools/ENHANCED_TEST_SERVER_INFRASTRUCTURE.md<
  tools/auth_testing_suite.py
  tools/char_diff.py
  tools/compare_replay_with_s3270.py
  tools/dry_violation_detector.py
  tools/multi_server_coordinator.py
  tools/negotiation_diff.py
  tools/network_stress_testing.py
  tools/quality_monitoring_system.py
  tools/raw_byte_diff.py
  tools/trace_replay_server.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

Resolve merge conflict in negotiator.py (stash pop) — combine upstream and local changes
  README.md
  mock_server/tn3270_mock_server.py
  pure3270/protocol/negotiator.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

Fix negotiator.py after resolving merge conflicts: restore clean remote content and add forced TN3270E send + flag
  pure3270/protocol/negotiator.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

feat: Phase 1 - Enhanced WCC implementation with full RFC 1576 compliance
  pure3270/emulation/screen_buffer.py
  pure3270/protocol/data_stream.py
  pure3270/session.py
  tests/test_wcc_basic.py
  tests/test_wcc_comprehensive.py
  tests/test_wcc_implementation.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

feat: Phase 1 - Enhanced WCC implementation with full RFC 1576 compliance
  pure3270/emulation/screen_buffer.py
  pure3270/protocol/data_stream.py
  pure3270/session.py
  tests/test_aid_support.py
  tests/test_c3270_compatibility.py
  tests/test_wcc_basic.py
  tests/test_wcc_implementation.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix: resolve pre-existing test failures in session and negotiation tests
  tests/test_ebcdic_translation_archive.py
  tests/test_integration.py
  tests/test_logging_reports.py
Due: pylint, cohesion-analysis, code-analyzer

feat: RFC 2355 response flags and SYSREQ implementation
  pure3270/protocol/negotiator.py
  pure3270/protocol/printer.py
  pure3270/protocol/tn3270_handler.py
  pure3270/protocol/tn3270e_header.py
  pure3270/protocol/utils.py
  tests/test_aid_support.py
  tests/test_protocol.py
  tests/test_rfc2355_bind_unbind.py
  tests/test_rfc2355_keepalive.py
  tests/test_rfc2355_nvt_mode.py
  tests/test_rfc2355_responses.py
  tests/test_rfc2355_sysreq.py
  tests/test_session.py
  tests/test_tn3270_handler.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

feat: RFC 2355 DEVICE-TYPE, FUNCTIONS, and Structured Fields tests
  pure3270/protocol/utils.py
  tests/test_rfc2355_device_type.py
  tests/test_rfc2355_functions.py
  tests/test_rfc2355_structured_fields.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

feat: RFC 2355 CONNECT/ASSOCIATE/REJECT device-type negotiation
  pure3270/protocol/negotiator.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

feat: RFC 854/857/858/860 Telnet option compliance
  pure3270/protocol/negotiator.py
  pure3270/protocol/tn3270_handler.py
  tests/test_printer.py
  tests/test_rfc854_telnet_commands.py
  tests/test_tn3270_handler.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

chore: add Ralph orchestrator and agent automation files
  .agent/events.jsonl
  .agent/scratchpad.md
  .agent/summary.md
  .sisyphus/ralph-loop.local.md
  PROMPT.md
  pure3270/protocol/negotiator.py
  pure3270/protocol/tcpip_connection_pool.py
  pure3270/protocol/tn3270_handler.py
  pure3270/protocol/trace_recorder.py
  pure3270/session.py
  pyproject.toml
  ralph.yml
  tests/conftest.py
  tests/integration/README.md
  tests/test_3270_data_payload.py
  tests/test_3270_extended_payload.py
  tests/test_ebcdic_compat.py
  tests/test_ebcdic_screenbuffer_compat.py
  tests/test_enhanced_mock_server.py
  tests/test_integration.py
  tests/test_multi_device_type.py
  tests/test_trace_comparison.py
  tests/test_trace_patterns.py
  tests/test_wcc_comprehensive.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix: prevent resource leaks with destructor cleanup
  pure3270/protocol/tcpip_connection_pool.py
  pure3270/protocol/tn3270_handler.py
  pure3270/session.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

test: improve API exports and error handling tests
  tests/test_api_exports.py
  tests/test_error_handling.py
Due: pylint, cohesion-analysis, code-analyzer

test: update RFC 854 IAC escaping and SCS control code tests
  tests/test_rfc854_telnet_commands.py
  tests/test_scs_control_codes.py
Due: pylint, cohesion-analysis, code-analyzer

test: add IAC escaping tests and validation utilities
  agent_task_trace_validation.py
  tests/test_rfc854_iac_escaping.py
  validate_now.sh
Due: pylint, cohesion-analysis, code-analyzer

ci: disable radon/cohesion pre-commit hooks
  .pre-commit-config.yaml
Due: none

style: apply black/isort formatting fixes
  agent_task_trace_validation.py
  mock_server/tn3270_mock_server.py
  pure3270/protocol/tcpip_connection_pool.py
  tests/test_rfc2355_device_type.py
  tests/test_rfc2355_functions.py
  tests/test_rfc2355_structured_fields.py
  tests/test_rfc854_iac_escaping.py
  tests/test_scs_control_codes.py
  validate_now.sh
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

docs: add comprehensive test plan and RFC compliance review prompts
  .github/chatmodes/tn3270-protocol-debug.chatmode.md
  .github/instructions/workspace-instructions.md
  .github/prompts/comprehensive-test-plan.prompt.md
  .github/prompts/rfc-compliance-review.prompt.md
Due: none

fix: Use RLock in printer to prevent deadlocks
  pure3270/protocol/printer.py
  tests/test_printer.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

test: Add comprehensive error handling coverage tests
  tests/test_error_handling_coverage.py
Due: pylint, cohesion-analysis, code-analyzer

test: Add RFC 854 Telnet protocol edge case tests
  tests/test_rfc854_telnet_edge_cases.py
Due: pylint, cohesion-analysis, code-analyzer

test: Add type safety and type ignore annotation audit
  tests/test_type_safety_audit.py
Due: pylint, cohesion-analysis, code-analyzer

docs: Add comprehensive project validation suite
  docs/PROJECT_VALIDATION_REPORT.md
  examples/demo_usability.py
  tests/test_project_validation.py
Due: pylint, cohesion-analysis, code-analyzer

docs: Add comprehensive project validation suite
  tests/integration/test_hercules.py
Due: pylint, cohesion-analysis, code-analyzer

Path conditions:
  pylint: any of: \.py$, but not: tests/data/traces/.*
  radon-complexity: any of: pure3270/.*\.py$ and \.py$ and not (tests/data/traces/.*)
  cohesion-analysis: any of: \.py$
  code-analyzer: any of: \.py$
