Repository dtg01100/pure3270: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, radon-complexity, cohesion-analysis, code-analyzer

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --exit-zero
  - pure3270/

radon-complexity:
  name: radon complexity check
  entry: radon
  language: system
  args:
  - cc
  - --show-complexity
  - --total-average

cohesion-analysis:
  name: cohesion analysis
  entry: python
  language: system
  args:
  - -m
  - cohesion
  - -d
  - pure3270
  pass_filenames: false

code-analyzer:
  name: code quality analysis
  entry: python
  language: system
  args:
  - tools/code_analyzer.py
  - --duplication-only
  pass_filenames: false

Expand validation suite to 108 tests
  .gitignore
  pure3270/validation/fuzz/test_protocol.py
  pure3270/validation/matrix/checker.py
  pure3270/validation/matrix/conftest.py
  pure3270/validation/matrix/test_rfc2355.py
  pure3270/validation/wire/runner.py
  pure3270/validation/wire/test_vectors.py
  pure3270/validation/wire/vectors/data_stream.yaml
  pure3270/validation/wire/vectors/error_handling.yaml
  pure3270/validation/wire/vectors/telnet_negotiation.yaml
  pure3270/validation/wire/vectors/tn3270e.yaml
  tests/test_ebcdic_translation_archive.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

Add mock server expansion design spec
  docs/superpowers/specs/2026-05-20-mock-server-expansion-design.md
Due: none

Add mock server expansion implementation plan
  docs/superpowers/plans/2026-05-20-mock-server-expansion-plan.md
Due: none

chore: add .worktrees to gitignore
  .gitignore
Due: none

feat(mock_server): create directory structure
  mock_server/__init__.py
  mock_server/scenarios/__init__.py
Due: pylint, cohesion-analysis, code-analyzer

feat(mock_server): add ServerConfig and CLI
  mock_server/tn3270_mock_server.py
Due: pylint, cohesion-analysis, code-analyzer

feat(mock_server): add 3270 screen builders
  mock_server/screen_builders.py
Due: pylint, cohesion-analysis, code-analyzer

feat(mock_server): add echo and negotiation_failure scenarios
  mock_server/scenarios/__init__.py
  mock_server/scenarios/echo.py
  mock_server/scenarios/negotiation_failure.py
Due: pylint, cohesion-analysis, code-analyzer

feat(mock_server): add MenuTN3270EServer as enhanced scenario
  mock_server/scenarios/__init__.py
  mock_server/scenarios/menu_tn3270e.py
  mock_server/tn3270_mock_server.py
Due: pylint, cohesion-analysis, code-analyzer

feat(mock_server): add menu_3270 scenario
  mock_server/scenarios/__init__.py
  mock_server/scenarios/menu_3270.py
Due: pylint, cohesion-analysis, code-analyzer

feat(mock_server): add menu_nvt scenario
  mock_server/scenarios/__init__.py
  mock_server/scenarios/menu_nvt.py
Due: pylint, cohesion-analysis, code-analyzer

feat(mock_server): add menu_sscp_lu scenario
  mock_server/scenarios/__init__.py
  mock_server/scenarios/menu_sscp_lu.py
Due: pylint, cohesion-analysis, code-analyzer

feat(mock_server): add color scenario
  mock_server/scenarios/__init__.py
  mock_server/scenarios/color.py
Due: pylint, cohesion-analysis, code-analyzer

feat(mock_server): add tn3270_only scenario
  mock_server/scenarios/__init__.py
  mock_server/scenarios/tn3270_only.py
Due: pylint, cohesion-analysis, code-analyzer

feat(mock_server): add TLS certificate infrastructure
  mock_server/tls_certs.py
Due: pylint, cohesion-analysis, code-analyzer

feat(mock_server): add x3270 target integration
  mock_server/__init__.py
  mock_server/x3270_target.py
Due: pylint, cohesion-analysis, code-analyzer

test(mock_server): add scenario tests
  tests/test_mock_scenarios.py
Due: pylint, cohesion-analysis, code-analyzer

fix(mock_server): make CLI use dynamic SCENARIOS registry
  mock_server/tn3270_mock_server.py
Due: pylint, cohesion-analysis, code-analyzer

fix(mock_server): complete menu_sscp_lu implementation, fix duplicate WILL imports
  mock_server/scenarios/color.py
  mock_server/scenarios/menu_sscp_lu.py
Due: pylint, cohesion-analysis, code-analyzer

fix(ci): resolve mypy errors, pre-commit formatting, and validation type checks
  docs/superpowers/plans/2026-05-20-mock-server-expansion-plan.md
  docs/superpowers/specs/2026-05-20-mock-server-expansion-design.md
  mock_server/__init__.py
  mock_server/scenarios/color.py
  mock_server/scenarios/echo.py
  mock_server/scenarios/menu_3270.py
  mock_server/scenarios/menu_nvt.py
  mock_server/scenarios/menu_sscp_lu.py
  mock_server/scenarios/menu_tn3270e.py
  mock_server/scenarios/negotiation_failure.py
  mock_server/screen_builders.py
  mock_server/tls_certs.py
  mock_server/tn3270_mock_server.py
  mock_server/x3270_target.py
  mypy.ini
  pure3270/validation/fuzz/test_protocol.py
  pure3270/validation/matrix/checker.py
  pure3270/validation/wire/runner.py
  pure3270/validation/wire/test_vectors.py
  tests/test_mcp_servers.py.disabled
  tests/test_mock_scenarios.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix(ci): add types-PyYAML to resolve mypy import errors in CI
  mypy.ini
  pyproject.toml
  tests/test_error_handling_coverage.py
Due: pylint, cohesion-analysis, code-analyzer

fix(ci): unignore and add pure3270/constants.py module
  .gitignore
  pure3270/constants.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

Expand mock server scenarios and validation infrastructure
  mock_server/tn3270_mock_server.py
  pure3270/session.py
  tests/validation/wire_protocol_validation.py
  tools/docker_tn3270_server.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

style: fix formatting, add nosec for bandit, fix mypy errors
  pure3270/session.py
  tests/validation/wire_protocol_validation.py
  tools/docker_tn3270_server.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix(protocol): run SNA response handler, dedupe FUNCTIONS fallback; add s3270 harness integrity test
  pure3270/protocol/data_stream.py
  pure3270/protocol/negotiator.py
  pure3270/protocol/utils.py
  tests/data/screens/ft-crash.screen.bin
  tests/data/screens/ft_dft.screen.bin
  tests/data/screens/login.screen.bin
  tests/data/screens/pub400_golden.bin
  tests/test_negotiator_missing_coverage.py
  tests/test_s3270_harness_integrity.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix(p3270): correct coordinate-system boundary, dedupe helpers, schedule SNA coroutine in replayer
  pure3270/emulation/snapshot.py
  pure3270/p3270_client.py
  pure3270/session.py
  pure3270/trace/replayer.py
  pure3270/utils/__init__.py
  tests/data/expected/ra_test_expected.json
  tests/test_negotiation_dumps.py
  tools/dry_violation_detector.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix(tests): preserve regression coverage, fix close() O(N), audit-tighten auto-baselines
  .pre-commit-config.yaml
  bin/s3270
  mock_server/scenarios/negotiation_failure.py
  mock_server/tn3270_mock_server.py
  pure3270/emulation/ebcdic.py
  pure3270/protocol/printer_error_handler.py
  pure3270/protocol/printer_error_recovery.py
  pure3270/protocol/tn3270_handler.py
  pure3270/session_manager.py
  tests/conftest.py
  tests/data/expected/all_chars_expected.json
  tests/data/expected/bid-bug_expected.json
  tests/data/expected/bid_expected.json
  tests/data/expected/invalid_ra_expected.json
  tests/data/expected/login_expected.json
  tests/data/expected/numeric_expected.json
  tests/data/expected/smoke_expected.json
  tests/data/expected/wrap_expected.json
  tests/mocks/factory.py
  tests/test_error_handling.py
  tests/test_multi_device_type.py
  tests/test_p3270_client_no_concurrent_read.py
  tests/test_project_validation.py
  tests/test_screen_golden_comparison.py
  tests/test_session.py
  tests/test_trace_semantic_validation.py
  tools/generate_expected_outputs.py
  tools/trace_coverage_report.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix(mock): propagate cancellation to TraceReplayServer per-connection tasks; fix TN3270MockServer idempotency
  mock_server/tn3270_mock_server.py
  tests/test_negotiation_dumps.py
  tools/trace_replay_server.py
Due: pylint, cohesion-analysis, code-analyzer

ci(tests): integrate regression-trace suite + nightly s3270-parity job
  .github/workflows/nightly-s3270-parity.yml
  .github/workflows/trace_replay_tests.yml
  .gitignore
  tests/test_regression_traces.py
  todolist.md
  tools/diff_parity_reports.py
  tools/render_regression_summary.py
  tools/run_regression_traces.py
  tools/run_s3270_parity.py
Due: pylint, cohesion-analysis, code-analyzer

fix(replayer): detect negotiated screen size from trace header
  pure3270/trace/replayer.py
  tests/data/expected/ra_test_expected.json
  tests/test_regression_traces.py
  tests/test_trace_replay.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

docs(trace): audit 14 remaining xfailing traces; document BIND-IMAGE truncation
  docs/regression-trace-audit.md
  pure3270/trace/replayer.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix(replayer): close out 6 xfails via multiline, envelope, and SNA EWA
  examples/compare_trace_processing.py
  pure3270/protocol/data_stream.py
  pure3270/trace/replayer.py
  tests/data/expected/all_chars_expected.json
  tests/data/expected/ibmlink_expected.json
  tests/test_regression_traces.py
  tests/test_trace_semantic_validation.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix(replayer): close out last 4 xfails via auto-baseline regeneration
  pure3270/trace/replayer.py
  tests/data/expected/login_expected.json
  tests/test_regression_traces.py
  tests/test_trace_semantic_validation.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix(ci): repair workflow python -c shell escape + drive-by pre-commit cleanup
  .github/workflows/trace_replay_tests.yml
  pure3270/session.py
  tests/data/expected/bid-bug_expected.json
  tests/data/expected/bid_expected.json
  tests/data/expected/invalid_ra_expected.json
  tests/data/expected/numeric_expected.json
  tests/data/expected/smoke_expected.json
  tests/data/expected/wrap_expected.json
  tests/test_s3270_harness_integrity.py
  tools/generate_expected_outputs.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

test(ind_file): close 32% → 99% coverage gap; fix spurious error-SF on missing local file
  pure3270/ind_file.py
  tests/test_ind_file_coverage.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix(protocol,api): resolve P0/P1/MEDIUM gaps from audit reports
  pure3270/emulation/screen_buffer.py
  pure3270/protocol/data_stream.py
  pure3270/protocol/negotiator.py
  pure3270/protocol/tn3270_handler.py
  pure3270/session.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix(replayer): make TraceComparator delegate to canonical Replayer; close 9 xfails
  examples/compare_trace_processing.py
  tests/test_trace_semantic_validation.py
Due: pylint, cohesion-analysis, code-analyzer

Path conditions:
  pylint: any of: \.py$, but not: tests/data/traces/.*
  radon-complexity: any of: pure3270/.*\.py$ and \.py$ and not (tests/data/traces/.*)
  cohesion-analysis: any of: \.py$
  code-analyzer: any of: \.py$
