Repository dtg01100/pure3270: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, radon-complexity, cohesion-analysis, code-analyzer

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '(tests/data/traces/.*|test_output/.*)'
      - id: end-of-file-fixer
        exclude: '(tests/data/traces/.*|test_output/.*)'
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        name: black (auto-format)
        args: [--line-length=88]
        exclude: 'tests/data/traces/.*'
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (auto-format)
        args: [--profile=black]
        exclude: 'tests/data/traces/.*'
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        exclude: 'tests/data/traces/.*'
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        args: [--config-file=mypy.ini, --ignore-missing-imports]
        files: '^(pure3270/|tests/|setup.py|pyproject.toml)'
        exclude: '^(archive/|tools/|scripts/|tests/data/traces/|examples/)'
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.1
    hooks:
      - id: bandit
        args: [-c, .bandit, --quiet]
        exclude: 'tests/data/traces/.*'
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [--exit-zero, pure3270/]
        exclude: 'tests/data/traces/.*'
      - id: radon-complexity
        name: radon complexity check
        entry: radon
        language: system
        types: [python]
        args: [cc, --show-complexity, --total-average]
        files: 'pure3270/.*\.py$'
        exclude: 'tests/data/traces/.*'
      - id: cohesion-analysis
        name: cohesion analysis
        entry: python
        language: system
        types: [python]
        args: [-m, cohesion, -d, pure3270]
        pass_filenames: false
      - id: code-analyzer
        name: code quality analysis
        entry: python
        language: system
        types: [python]
        args: [tools/code_analyzer.py, --duplication-only]
        pass_filenames: false

Implement comprehensive SNA session state machine
  pure3270/protocol/negotiator.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

Enhance project configuration and test suite
  pure3270/__init__.py
  pyproject.toml
  tests/test_session.py
  tools/code_analyzer.py
  tools/screen_buffer_visualizer.py
  tools/state_machine_visualizer.py
  tools/tn3270_packet_analyzer.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

Fix PR review issues: remove unused imports, fix exception handling, correct async test decorators
  pure3270/protocol/negotiator.py
  tests/test_session.py
  tools/code_analyzer.py
  tools/screen_buffer_visualizer.py
  tools/state_machine_visualizer.py
  tools/tn3270_packet_analyzer.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

Integrate packet analyzer into trace-based tests with framework compatibility
  tests/test_trace_replay.py
Due: pylint, cohesion-analysis, code-analyzer

Fix CI test failures: SBA address encoding and negotiation validation
  tests/test_emulation.py
  tests/test_protocol.py
Due: pylint, cohesion-analysis, code-analyzer

feat: Add custom EBCDIC codepage mappings for cp930, cp933, cp935, cp937, cp939
  pure3270/emulation/ebcdic.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

test: Remove skip logic for missing EBCDIC codepages
  tests/test_comprehensive_trace_testing.py
Due: pylint, cohesion-analysis, code-analyzer

fix: Add buffer overflow protection in screen buffer operations
  pure3270/emulation/screen_buffer.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

Fix race condition test failures in async operations
  .gitignore
  tests/test_race_conditions_improved.py
  tests/utils/test_helpers.py
Due: pylint, cohesion-analysis, code-analyzer

Add missing test fixtures for race condition tests
  tests/conftest.py
  tests/utils/test_helpers.py
Due: pylint, cohesion-analysis, code-analyzer

Fix import issues in CI by ensuring tests directory is in Python path
  tests/conftest.py
Due: pylint, cohesion-analysis, code-analyzer

Fix CI import issues and TTYPE_SEND constant
  pure3270/protocol/negotiator.py
  pure3270/protocol/utils.py
  tests/mocks/factory.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

Fix parallel test import issues
  tests/test_mocking_validation.py
  tests/test_patching_integration.py
Due: pylint, cohesion-analysis, code-analyzer

Fix import issues in mocks/factory.py by converting relative imports to absolute imports for pytest-xdist compatibility
  tests/mocks/factory.py
Due: pylint, cohesion-analysis, code-analyzer

Fix CI import issues by adding --import-mode=importlib to pytest commands
  .github/workflows/ci.yml
Due: none

Fix import issues in test files by converting relative imports to absolute imports for pytest-xdist compatibility
  tests/test_mocking_validation.py
  tests/test_patching_integration.py
Due: pylint, cohesion-analysis, code-analyzer

Apply automatic fixes for async tests and performance benchmarks
  pyproject.toml
  tests/mocks/factory.py
  tests/test_api_exports.py
  tests/test_performance_benchmarks.py
  tests/test_protocol.py
  tests/test_race_conditions.py
  tests/test_race_conditions_improved.py
  tests/test_tn3270_handler.py
Due: pylint, cohesion-analysis, code-analyzer

chore(logging): add debug instrumentation for early payload returns in ascii and tn3270 modes
  pure3270/protocol/tn3270_handler.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

style: apply black/isort formatting post pre-commit hooks
  tests/mocks/factory.py
  tests/test_mocking_validation.py
  tests/test_patching_integration.py
  tests/test_performance_benchmarks.py
Due: pylint, cohesion-analysis, code-analyzer

tests: remove unused imports in test_mocking_validation final nitpick cleanup
  tests/test_mocking_validation.py
Due: pylint, cohesion-analysis, code-analyzer

fix(ci): add missing tests/mocks/protocol_responses.py to git
  .gitignore
  tests/mocks/protocol_responses.py
Due: pylint, cohesion-analysis, code-analyzer

fix(ci): use relative paths for trace files and tool scripts
  tests/test_integration_validation.py
  tests/test_protocol_negotiation_integration.py
Due: pylint, cohesion-analysis, code-analyzer

fix(ci): improve tool validation test to handle different exit codes
  tests/test_integration_validation.py
Due: pylint, cohesion-analysis, code-analyzer

chore: finalize merge, update CI workflows, and push remaining changes after PR #52 merge
  .github/workflows/ci.yml
  .github/workflows/documentation.yml
  .github/workflows/reports.yml
Due: none

ci: allow comprehensive trace testing to continue-on-error for robust CI
  .github/workflows/ci.yml
Due: none

fix: correct YAML indentation in reports.yml workflow
  .github/workflows/reports.yml
Due: none

ci: add run_slow_tests workflow_dispatch input to fix CI input reference
  .github/workflows/ci.yml
Due: none

test(ci): skip timing-sensitive data stream parsing benchmark on CI runners
  tests/test_performance_benchmarks.py
Due: pylint, cohesion-analysis, code-analyzer

fix: resolve GitHub Actions pre-commit failures
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  pure3270/__init__.py
Due: pylint, radon-complexity, cohesion-analysis, code-analyzer

fix: add tools/__init__.py to enable package imports for CI
  .gitignore
  tools/__init__.py
Due: pylint, cohesion-analysis, code-analyzer

fix: remove tools/ from .gitignore to allow package imports
  .gitignore
Due: none

fix: add tools/quick_smoke.py to git for CI imports
  tools/quick_smoke.py
Due: pylint, cohesion-analysis, code-analyzer

fix: move mock_server import inside test functions to avoid collection errors
  tests/test_3270_data_payload.py
  tests/test_3270_extended_payload.py
Due: pylint, cohesion-analysis, code-analyzer

fix: remove --import-mode=importlib from CI pytest to fix import issues
  .github/workflows/ci.yml
Due: none

fix: install pure3270 in normal mode instead of editable to fix import issues
  .github/workflows/ci.yml
Due: none
